.git
.gitignore
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/.pytest_cache/
**/.mypy_cache/
**/.ruff_cache/
**/.venv/
**/node_modules/
**/npm-debug.log
**/yarn-debug.log
**/yarn-error.log
**/dist/
**/build/
**/coverage/
**/staticfiles/
**/db.sqlite3
**/*.log
**/broadcast-run.err.log
**/broadcast-run.out.log
.DS_Store
