[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
gunicorn = "*"
whitenoise = "*"
psycopg = {extras = ["binary"], version = "*"}
redis = "*"
celery = "*"
djangorestframework = "*"
drf-spectacular = "*"
channels = {extras = ["daphne"], version = "*"}
channels-redis = "*"
pyjwt = "*"
httpx = "*"

[dev-packages]

[requires]
python_version = "3.14"
